<nav class="navbar navbar-expand-lg navbar-light white">
  <a class="navbar-brand" href="/home">
    <img class="logo"
      src="https://lh3.googleusercontent.com/-5nnLY_5I5TQ/Xa79yP6yFVI/AAAAAAAAm7o/sEvItedKPMYsTPOkPwqVIpqWgcJ1t9vPACK8BGAsYHg/s0/2019-10-22.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarSupportedContent" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/industries" routerLinkActive="active">INDUSTRIES </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services" routerLinkActive="active" href="#">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CAREER</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-primary contact-us navbar-button-item">
          CONTACT US
        </button>
      </li>
    </ul>
  </div>
</nav>