<section id="footer">
    <img class="footer-logo" src="https://lh3.googleusercontent.com/-tpoz_ryYiZM/XbgRVjkglsI/AAAAAAAAnHY/jsnDxA4COoEoPoPqlJFs9aLireWX610kgCK8BGAsYHg/s0/2019-10-29.png"/>
    <div class="footer-container">
        <br/>
        <br/>
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>Services</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();">Data center</a></li>
                    <li><a href="javascript:void();">Workplace</a></li>
                    <li><a href="javascript:void();">IT Enablement & Service Desk</a></li>
                    <li><a href="javascript:void();">Workplace Assessment</a></li>
                    <li><a href="javascript:void();">Network Services</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>Industries</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();">Cloud Infrastruture</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>About Us</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();">Who we are</a></li>
                    <li><a href="javascript:void();">Our Team</a></li>
                    <li><a href="javascript:void();">Our Philosophy</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>Career</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();">Job openings</a></li>
                    <li><a href="javascript:void();">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>Terms & Conditions</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();">Privacy & Cookie Policy</a></li>
                    <li><a href="javascript:void();">Accessibility</a></li>
                    <li><a href="javascript:void();">Legal</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>Connect with us</h5>
                <ul class="list-unstyled list-inline social">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="#">Proof of Concept crafted by XMorph</a></u></p>
                <p class="h6" style="color:black"><i class="far fa-copyright"></i> All right Reversed.</p>
            </div>
        </div>
    </div>
</section>