<div class="home-container">
  <app-navbar class="home-child"></app-navbar>
  <app-carousel-view class="home-child"></app-carousel-view>

  <div class="jumbotron text-center why-section home-child" style="background-color: white;">
    <h2> Why IPDigital? </h2>
    <br />
    <h4 class="why-ipdigital-body"> IPDigital is a unique combination of Service Integration and
      Innovative IP Developer. This gives a unique edge
      in implementing values from the start. IPD intends to develop Innovative Intellectual Property Solutions
      for industry service providers.
    </h4>
  </div>
  <div class="container-fluid jumbotron home-child">
    <h2>Our Services</h2>
    <br />
    <br />
    <div class="card-deck">
        <div class="card">
          <img src="https://lh3.googleusercontent.com/-qi-_wp7W-aw/Xbmv2IRmglI/AAAAAAAAnKA/-VahtH-h3ggVcxl1MH42udx5fyYagqdxACK8BGAsYHg/s0/2019-10-30.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">DATACENTER</h5>
            <br/>
            <p class="card-text">IPDIGITAL has been at the forefront of
                implementing cloud and virtualization
                technologies, assisting enterprises to
                drive business growth and enable
                superior digital experience.</p>
          </div>
          <a href="/services/datacenter" class="text-muted"><div class="card-footer">Learn more</div></a>

        </div>
        <div class="card">
          <img src="https://lh3.googleusercontent.com/-5WMhjUjLtrg/Xbmv7UA3A3I/AAAAAAAAnKM/mVLY3iaLOKgt3_ckoa3RtBc9MBqoOqAggCK8BGAsYHg/s0/2019-10-30.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">IT ENABELEMENT & SERVICE DESK</h5>
            <br/>
            <p class="card-text"> The hyper-connected millennial workforce is more empowered and enabled than ever before by virtue of cloud and mobile technologies.</p>
          </div>
          <a href="/services/it-enablement" class="text-muted"><div class="card-footer">Learn more</div></a>

        </div>
        <div class="card">
          <img src="https://lh3.googleusercontent.com/-LB21xOfYiqk/Xbmv3dLld-I/AAAAAAAAnKE/FYeRmDaCxqsNaEc5xatqPhOm_w2sXF-JQCK8BGAsYHg/s0/2019-10-30.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NETWORK SERVICES</h5>
            <br/>
            <p class="card-text">Modern enterprises are embracing digitalization as a business model for their network infrastructure, exploring innovative sources of...

            </p>
          </div>
          <a href="#" class="text-muted"><div class="card-footer">Learn more</div></a>

        </div>
        <div class="card">
            <img src="https://lh3.googleusercontent.com/-iR4E-IbKL7c/Xbmv6NXE97I/AAAAAAAAnKI/lzlBwZ3Ph2A-S-WuWWeIQmrVFpTsiT66ACK8BGAsYHg/s0/2019-10-30.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CLOUD</h5>
              <br/>
              <p class="card-text">What can the Cloud do for you? It is rare for enterprises to have one cohesive view of what cloud can do for them.</p>
            </div>
            
            <a href="#" class="text-muted"><div class="card-footer">Learn more</div></a>
            
          </div>
      </div>
  </div>
  <div class="container-fluid jumbotron why-section home-child" style="margin-top: -30px;">
    <h2>Contact US</h2>
    <div class="container-contact100" style="background-color: white;">
      <div class="wrap-contact100" style="border: grey solid 1px;">
        <form class="contact100-form validate-form">
          <label class="label-input100" for="first-name">Tell us your name *</label>
          <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
            <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
            <input class="input100" type="text" name="last-name" placeholder="Last name">
            <span class="focus-input100"></span>
          </div>

          <label class="label-input100" for="email">Enter your email *</label>
          <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
            <span class="focus-input100"></span>
          </div>



          <label class="label-input100" for="message">Message *</label>
          <div class="wrap-input100 validate-input" data-validate="Message is required">
            <textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
            <span class="focus-input100"></span>
          </div>

          <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
              Send Message
            </button>
          </div>
        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url('assets/images/bg-01.jpg');">

          <div class="flex-w size1 p-b-47">
            <div class="txt1 p-r-25">
              <i class="fas fa-map-marker-alt"></i>
            </div>

            <div class="flex-col size2">
              <span class="txt1 p-b-20">
                Address
              </span>

              <span class="txt2">
                175 & 176, Bannerghatta Main Rd, Dollars Colony, Bengaluru, Karnataka 560076
              </span>
            </div>
          </div>

          <div class="flex-w size1 p-b-47">
            <div class="txt1 p-r-25">
              <i class="fas fa-phone-alt"></i>
            </div>

            <div class="flex-col size2">
              <span class="txt1 p-b-20">
                Lets Talk
              </span>

              <span class="txt2">
                +1 800 1236879
              </span>
            </div>
          </div>


          <div class="flex-w size1 p-b-47">
            <div class="txt1 p-r-25">
              <i class="far fa-envelope "></i>
            </div>
            <div class="flex-col size2">
              <span class="txt1 p-b-20">
                General Support
              </span>

              <span class="txt2">
                contactus@ipdigitalllc.com
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="dropDownSelect1"></div>

  </div>
  <app-footer class="home-child"></app-footer>
</div>